# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist
build
.cache
*.tsbuildinfo

# Env & local
.env
.env.*
!.env.example
.DS_Store

# Uploads / previews (to be used later)
uploads/
previews/

# Editor
.vscode/
.idea/
